.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-wrapper {
  max-width: 420px;
  width: 100%;
  margin: auto;
  background: #fff;
  padding: 30px 20px;
  border-radius: 5px;
  p{
    font-size: 1em;
  }
}
