/* You can add global styles to this file, and also import other style files */
:root {
  --bs-font-sans-serif: "DM Sans", sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-body-font-family: "DM Sans", sans-serif;
  --bs-blue: #559bfb;
  --background: #efebe9;
}

html {
  min-height: 100vh;
  height: auto;
  margin: 0;
}
body {
  font-size: 16px;
  background-color: var(--background);
}

p {
  color: #3e2723;
  font-size: 0.85em;
}
label{
  font-size: .9em;
  color: black;
}
